:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;

    --wp--preset--font-size--small: 1rem;
    --wp--preset--font-size--medium: 1.125rem;
    --wp--preset--font-size--large: 1.75rem;
    --wp--preset--font-size--x-large: clamp(1.75rem, 3vw, 2.25rem);
    --wp--custom--typography--font-size--huge: clamp(2.25rem, 4vw, 2.75rem);
    --wp--custom--typography--font-size--gigantic: clamp(2.75rem, 6vw, 3.25rem);
    --wp--custom--typography--font-size--colossal: clamp(3.25rem, 8vw, 6.25rem);

    --wp--custom--spacing--small: clamp(1.25rem, -0.536rem + 4.762vw, 3.75rem);
    --wp--custom--spacing--medium: clamp(1.875rem, -0.804rem + 7.143vw, 5.625rem);
    --wp--custom--spacing--large: clamp(3.125rem, 0rem + 8.333vw, 7.5rem);
    --wp--custom--spacing--outer: clamp(5rem, 1.429rem + 9.524vw, 10rem);

    --wp--custom--typography--line-height--tiny: 1.15;
    --wp--custom--typography--line-height--small: 1.2;
    --wp--custom--typography--line-height--medium: 1.4;
    --wp--custom--typography--line-height--normal: 1.6;
}

.homepage-container {
    h1 {
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--custom--typography--font-size--colossal);
        font-weight: 300;
        line-height: var(--wp--custom--typography--line-height--tiny);
    }

    h2 {
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--custom--typography--font-size--gigantic);
        font-weight: 300;
        line-height: var(--wp--custom--typography--line-height--small);
    }

    h3 {
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--custom--typography--font-size--huge);
        font-weight: 300;
        line-height: var(--wp--custom--typography--line-height--tiny);
    }

    h4 {
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--preset--font-size--x-large);
        font-weight: 300;
        line-height: var(--wp--custom--typography--line-height--tiny);
    }

    h5 {
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--preset--font-size--medium);
        font-weight: 700;
        line-height: var(--wp--custom--typography--line-height--normal);
        text-transform: uppercase;
    }

    h6 {
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--preset--font-size--medium);
        font-weight: 400;
        line-height: var(--wp--custom--typography--line-height--normal);
        text-transform: uppercase;
    }

    body,
    p {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

        color: var(--wp--preset--color--foreground);
        font-family: var(--wp--preset--font-family--system-font);
        font-size: var(--wp--preset--font-size--medium);
        line-height: var(--wp--custom--typography--line-height--normal);

        --wp--style--block-gap: 1.5rem;
    }

    b,
    strong {
        font-weight: bold;
    }

    // ********************************************************
    // Form
    // ********************************************************

    .wp-btn {
        border-radius: theme('borderRadius.full');
        padding-left: theme('spacing.12');
        padding-right: theme('spacing.12');
        padding-top: theme('spacing.4');
        padding-bottom: theme('spacing.4');
        background-color: theme('colors.black');
        color: theme('colors.white');
        font-size: 1.2em;
    }

    .wp-btn-outline {
        border: 2px solid theme('colors.black');
        border-radius: theme('borderRadius.full');
        font-size: 1.2em;
    }
}